body {
    text-align: center;
    background: #A6E7FF;
}

#canvas-wrap {
    position: relative;
}

#game-container {
    text-align: center;
    position: relative;
}

#game-title {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

#game {
    border: 4px solid;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 10px 40px #50BFE6;
}

#score-screen-left {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    position: absolute;
    top: 200px;
    left: 555px;
}

#score-screen-right {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    position: absolute;
    top: 200px;
    right: 555px;
}

#reset-container {
    text-align: center;
    position: absolute;
    top: 455px;
    right: 898px;
}

#resetButton {
    background-color: rgba(255, 255, 0, 0.651);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: 4px none;
    border-radius: 10px;
    cursor: pointer;
    width: 110px;
    height: 50px;
}

#resetButton:hover {
    box-shadow: 0 2px 2px 5px rgba(255, 255, 0, 0.651);
}